language: cpp

compiler:
  - gcc
  - clang

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq cmake

before_script:
  - mkdir build
  - cd build
  - cmake ..

script: make

notifications:
  email:
    - Fabien.Spindler@inria.fr
  on_success: change
  on_failure: always
   
