[workspace]
authors = ["Olivier Roussel <olivier.roussel@inria.fr>"]
channels = ["conda-forge"]
name = "visp"
platforms = ["linux-64", "linux-aarch64", "osx-64", "win-64", "osx-arm64"]
version = "3.6.0"
license = "GPL-2.0-only"
license-file = "LICENSE.txt"

# TODO: add ccache support
[dependencies]
cxx-compiler = ">=1.7.0"
cmake = ">=3.22"
ninja = ">=1.11"
pkg-config = ">=0.29.2"
git = ">=2.47.0"
eigen = "*"
libjpeg-turbo = "*"
libpng = "*"
libblas = "*"
libcblas = "*"
liblapack = "*"
liblapacke = "*"
coin3d = "*"
nlohmann_json = "*"
ogre = ">=14.4.1"
libxml2-devel = "*"
librealsense = "*"

[target.unix.dependencies]
xorg-libx11 = "*"
xorg-libxfixes = "*"
xorg-xorgproto = "*"
libdc1394 = ">=2.2.6"
gsl = "*"
gtk2 = "*"
glib = "*"

[target.linux-64.dependencies]
zbar = "*"

[target.osx.dependencies]
llvm-openmp = "*"
zbar = "*"

[activation]
scripts = ["development/scripts/pixi/activation.sh"]

[target.win-64.activation]
scripts = ["development/scripts/pixi/activation.bat"]

[target.unix.activation.env]
VISP_USE_GTK2 = "ON"

# Use clang-cl on Windows
# We must use scripts instead of env to setup CC and CXX
# to avoid cxx-compiler to overwrite them.
[feature.clang-cl]
platforms = ["win-64"]
dependencies = { clangxx = "*", lld = "*", llvm-openmp = "*"}
activation = { scripts = ["development/scripts/pixi/activation_clang_cl.bat"] }

[feature.python-oldest]
dependencies = { python = "3.11.*" }
[feature.python-supported]
dependencies = { python = "3.12.*" }
# [feature.python-newest]
# dependencies = { python = "3.14.*" }

[feature.python-bindings]
dependencies = { python = ">=3.8.0", pybind11 = "*", pip = "*", doxygen = "*" }
[feature.python-bindings.tasks]
build = { cmd = "cmake --build $VISP_BUILD_DIR --parallel $CPU_COUNT --target visp_python_bindings", depends-on = ["install"] }
python-test = { cmd = "cmake --build $VISP_BUILD_DIR --config Release --target visp_python_bindings_test", depends-on = ["build"] }
view-python-logs = { cmd = "$IDE $VISP_BUILD_DIR/modules/python/bindings/logs", env = { IDE = "code" }, depends-on = ["configure"] }
python-doc = { cmd = "cmake --build $VISP_BUILD_DIR --parallel $CPU_COUNT --target visp_python_bindings_doc", depends-on = ["build"] }
view-python-doc = { cmd = "$BROWSER $VISP_BUILD_DIR/doc/python/index.html", env = { BROWSER = "firefox" } }

# For OpenCV support we can either use package built for Qt for full highgui support,
# or headless one (typically for CI). Not both.
[feature.opencv-with-qt.dependencies]
libopencv = { version = ">=4.12.0", build = "qt*" }

[feature.headless.dependencies]
libopencv = { version = ">=4.12.0", build = "headless*" }
[feature.headless.activation.env]
VISP_HAVE_OPENCV_HEADLESS = "ON"
# Tests that require display / rendering are only supported on linux based CI
[feature.headless.target.linux.activation.env]
DISPLAY = ":99"
VISP_ENABLE_TEST_WITHOUT_DISPLAY = "OFF"
[feature.headless.target.linux.tasks]
init-testing = { cmd = "bash ./development/scripts/pixi/xvfb.sh" }

[feature.rbt]
dependencies = { panda3d = ">=1.10.15" }

[feature.doc]
dependencies = { doxygen = "*", mathjax = "*" }
[feature.doc.tasks]
fetch-doxygen-awesome = { cmd = "git clone https://github.com/jothepro/doxygen-awesome-css.git $DOXYGEN_AWESOME_DIR", outputs = ["$DOXYGEN_AWESOME_DIR"]}
doc = { cmd = "cmake --build $VISP_BUILD_DIR --target visp_doc", depends-on = ["configure", "fetch-doxygen-awesome"] }
view-doc = { cmd = "$BROWSER $VISP_BUILD_DIR/doc/html/index.html", env = { BROWSER = "firefox" } }
[feature.doc.activation.env]
VISP_USE_MATHJAX = "ON"
DOXYGEN_AWESOME_DIR="$CONDA_PREFIX/doxygen-awesome-css"

[feature.tests.activation.env]
VISP_BUILD_TESTS = "ON"

[feature.coverage.dependencies]
gcovr = "*"

[feature.coverage.activation.env]
VISP_BUILD_COVERAGE = "ON"
VISP_BUILD_DEPRECATED_FUNCTIONS = "OFF"
VISP_BUILD_TYPE = "RelWithDebInfo"

[feature.coverage.tasks]
coverage = { cmd = [
  "gcovr", "-r", ".", "--object-directory", "$VISP_BUILD_DIR",
  "--gcov-ignore-errors=all", "--gcov-ignore-parse-errors=all",
  "--exclude-function-lines", "--exclude-noncode-lines",
  "--exclude-throw-branches",
  "--include", "modules",
  "--exclude", "tutorial",
  "--exclude", "example",
  "--exclude", "demo",
  "--exclude", "apps",
  "--exclude", ".pixi",
  "--exclude", "3rdparty",
  "--exclude", "modules/vs/test",
  "--exclude", "modules/core/test",
  "--exclude", "modules/visual_features/test",
  "--exclude", "modules/python/test",
  "--exclude", "modules/imgproc/test",
  "--exclude", "modules/io/test",
  "--exclude", "modules/tracker/mbt/test",
  "--exclude", "modules/tracker/rbt/test",
  "--exclude", "modules/tracker/me/test",
  "--exclude", "modules/tracker/blob/test",
  "--exclude", "modules/vision/test",
  "--exclude", "modules/robot/test",
  "--exclude", "modules/tracker/test",
  "--exclude", "modules/sensor/test",
  "--exclude", "modules/ar/test",
  "--exclude", "modules/gui/test",
  "--exclude", "modules/detection/test",
  "--exclude", "modules/robot",
  "--exclude", "modules/python",
  "--exclude", "modules/sensor",
  "--exclude", "modules/gui",
  "--exclude", "modules/core/src/math/matrix/private",
  "--exclude", "modules/core/src/image/private",
  "--exclude", "modules/io/src/image/private",
  "--exclude", "modules/vision/src/pose-estimation/private",
  "--exclude", "modules/robot/src/real-robot/biclops/private",
  "--cobertura", "$VISP_BUILD_DIR/visp-coverage.xml",
  "--txt",
  "--html", "$VISP_BUILD_DIR/visp-coverage.html",
  "--html-nested", "$VISP_BUILD_DIR/visp-coverage-nested.html",

  "--html-theme", "github.dark-green"
], depends-on = ["test"]}
echo-coverage-path = { cmd = "echo $VISP_BUILD_DIR/visp-coverage.xml"}

[feature.examples.activation.env]
VISP_BUILD_EXAMPLES = "ON"

[feature.tutorials.activation.env]
VISP_BUILD_TUTORIALS = "ON"

[tasks]
init-testing = {}
echo-env = { cmd = "env" }
configure = { cmd = [
  "cmake",
  "-G",
  "Ninja",
  "-B",
  "$VISP_BUILD_DIR",
  "-S",
  ".",
  "-DCMAKE_VERBOSE_MAKEFILE=OFF",
  "-DCMAKE_BUILD_TYPE=$VISP_BUILD_TYPE",
  "-DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX",
  "-DBUILD_TESTS=$VISP_BUILD_TESTS",
  "-DENABLE_TEST_WITHOUT_DISPLAY=$VISP_ENABLE_TEST_WITHOUT_DISPLAY",
  "-DBUILD_TUTORIALS=$VISP_BUILD_TUTORIALS",
  "-DBUILD_EXAMPLES=$VISP_BUILD_EXAMPLES",
  "-DUSE_MATHJAX=$VISP_USE_MATHJAX",
  "-DBUILD_COVERAGE=$VISP_BUILD_COVERAGE",
  "-DBUILD_DEPRECATED_FUNCTIONS=$VISP_BUILD_DEPRECATED_FUNCTIONS",
  "-DUSE_GTK2=$VISP_USE_GTK2",
  "-DVISP_HAVE_OPENCV_HEADLESS=$VISP_HAVE_OPENCV_HEADLESS",
  "-DDOXYGEN_AWESOME_DIR=$DOXYGEN_AWESOME_DIR",

  "$VISP_EXTRA_CMAKE_ARGS"
], depends-on = ["echo-env"] }
build-modules = { cmd = "cmake --build $VISP_BUILD_DIR --target visp_modules --parallel $CPU_COUNT", depends-on = ["configure"] }
build-base = { cmd = "cmake --build $VISP_BUILD_DIR --parallel $CPU_COUNT", depends-on = ["build-modules"] }
build = { depends-on = ["build-base"]}
install = { cmd = "cmake --build $VISP_BUILD_DIR --target install --parallel $CPU_COUNT", depends-on = ["build-base"] }
clean = { cmd = "rm -rf $VISP_BUILD_DIR" }
test = { cmd = "ctest --test-dir $VISP_BUILD_DIR --output-on-failure --parallel $CPU_COUNT", depends-on = ["install", "init-testing"] }

[environments]
# Minimal set of features and python bindings
with-python = { features = ["python-bindings", "opencv-with-qt", "doc"] }
# All <environment-name>-clang-cl variants are for building under Clang-cl compiler under windows instead of MSVC CL
with-python-clang-cl = { features = ["python-bindings", "opencv-with-qt", "doc", "clang-cl"] }
# All ViSP features including python bindings
all = { features = ["rbt", "python-bindings", "opencv-with-qt", "doc"] }
all-clang-cl = { features = ["rbt", "python-bindings", "opencv-with-qt", "doc", "clang-cl"] }
# All ViSP features (incl. python bindings) + tests
all-with-tests = { features = ["rbt", "python-bindings", "opencv-with-qt", "doc", "tests"] }
all-clang-cl-with-tests = { features = ["rbt", "python-bindings", "opencv-with-qt", "doc", "clang-cl", "tests"] }
# Environments dedicated for CI (headless)
full-ci-python-oldest = { features = ["rbt", "python-bindings", "headless", "tests", "examples", "tutorials", "python-oldest"]}
full-ci-python-supported = { features = ["rbt", "python-bindings", "headless", "tests", "examples", "tutorials", "python-supported"]}
# full-ci-python-newest = { features = ["rbt", "python-bindings", "headless", "tests", "examples", "tutorials", "python-newest"]}
full-ci-coverage = { features = ["rbt", "python-bindings", "headless", "tests", "examples", "tutorials", "coverage"]}
full-ci-coverage-clang-cl = { features = ["rbt", "python-bindings", "headless", "tests", "examples", "tutorials", "coverage", "clang-cl"]}
full-ci-clang-cl-python-oldest = { features = ["rbt", "python-bindings", "headless", "tests", "examples", "tutorials", "clang-cl", "python-oldest"]}
full-ci-clang-cl-python-supported = { features = ["rbt", "python-bindings", "headless", "tests", "examples", "tutorials", "clang-cl", "python-supported"]}
# full-ci-clang-cl-python-newest = { features = ["rbt", "python-bindings", "headless", "tests", "examples", "tutorials", "clang-cl", "python-newest"]}
