name: CI - MacOS/Linux/Windows via Pixi

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  visp-pixi:
    name: ${{ matrix.os }} - Env ${{ matrix.environment }} ${{ matrix.build_type }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, macos-13, windows-latest]
        environment: [full-ci-py310, full-ci-py312]
        build_type: [Release]
        include:
          - os: windows-latest
            environment: full-ci-clang-cl-py310
            build_type: Release
          - os: windows-latest
            environment: full-ci-clang-cl-py312
            build_type: Release

    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.9.2
        with:
          cache: true
          environments: ${{ matrix.environment }}

      - name: Clone visp-images
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        # https://remarkablemark.org/blog/2022/09/25/check-git-branch-exists-in-remote-repository/
        run: |
          git clone --depth 1 https://github.com/lagadic/visp-images ${HOME}/visp-images
          echo "VISP_INPUT_IMAGE_PATH=$HOME/visp-images" >> $GITHUB_ENV
          echo ${VISP_INPUT_IMAGE_PATH}

      - name: Build Visp [MacOS/Linux/Windows]
        shell: bash -el {0}
        env:
          VISP_BUILD_TYPE: ${{ matrix.build_type }}
        run: |
          pixi run -e ${{ matrix.environment }} build

      - name: Run tests [MacOS/Linux/Windows]
        shell: bash -el {0}
        run: |
          pixi run -e ${{ matrix.environment }} test
