name: CI - MacOS/Linux/Windows via Pixi

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  # https://github.com/orgs/community/discussions/28474#discussioncomment-3350256
  check_skip_flags:
    name: Check skip flags
    runs-on: ubuntu-latest
    outputs:
      head-commit-message: ${{ steps.get_head_commit_message.outputs.headCommitMsg }}
    steps:
      - name: Get repo
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Print head git commit message
        id: get_head_commit_message
        run: echo "headCommitMsg=$(git show -s --format=%s)" >> $GITHUB_OUTPUT

  visp-pixi:
    name: ${{ matrix.os }} - Env ${{ matrix.environment }} ${{ matrix.build_type }}
    runs-on: ${{ matrix.os }}
    needs: check_skip_flags
    if: >-
      ${{
        (!contains(needs.check_skip_flags.outputs.head-commit-message, '[SKIP-CI ALL]') &&
        !contains(needs.check_skip_flags.outputs.head-commit-message, '[SKIP-CI PIXI]')) ||
        contains(needs.check_skip_flags.outputs.head-commit-message, '[ENABLE-CI PIXI]')
      }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, macos-13, windows-latest]
        environment: [full-ci-py310, full-ci-py312]
        build_type: [Release]
        include:
          - os: windows-latest
            environment: full-ci-clang-cl-py310
            build_type: Release
          - os: windows-latest
            environment: full-ci-clang-cl-py312
            build_type: Release

    steps:
      - uses: actions/checkout@v5

      - uses: prefix-dev/setup-pixi@v0.9.2
        with:
          cache: true
          environments: ${{ matrix.environment }}

      - name: Clone visp-images
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        # https://remarkablemark.org/blog/2022/09/25/check-git-branch-exists-in-remote-repository/
        run: |
          git clone --depth 1 https://github.com/lagadic/visp-images ${HOME}/visp-images
          echo "VISP_INPUT_IMAGE_PATH=$HOME/visp-images" >> $GITHUB_ENV
          echo ${VISP_INPUT_IMAGE_PATH}

      - name: Build Visp [MacOS/Linux/Windows]
        shell: bash -el {0}
        env:
          VISP_BUILD_TYPE: ${{ matrix.build_type }}
        run: |
          pixi run -e ${{ matrix.environment }} build

      - name: Run tests [MacOS/Linux/Windows]
        shell: bash -el {0}
        run: |
          pixi run -e ${{ matrix.environment }} test
