name: Ubuntu-ustk

# https://www.jeffgeerling.com/blog/2020/running-github-actions-workflow-on-schedule-and-other-events
on:
  push:
  pull_request:
  schedule:
    - cron: '0 2 * * SUN'

jobs:
  build-ubuntu-dep-apt:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]

    steps:
    # https://github.com/marketplace/actions/cancel-workflow-action
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Print system information
      run: lscpu

    - name: Print OS information
      run: lsb_release -a

    - name: Print compiler information
      run: dpkg --list | grep compiler

    - name: Install dependencies for ubuntu 18.04 and 20.04
      if: matrix.os != 'ubuntu-22.04'
      run: sudo apt-get update && sudo apt-get install -y libx11-dev libdc1394-22-dev libv4l-dev liblapack-dev libopenblas-dev libeigen3-dev libopencv-dev

    - name: Install dependencies for ubuntu 22.04
      if: matrix.os == 'ubuntu-22.04'
      run: sudo apt-get update && sudo apt-get install -y libx11-dev libdc1394-dev libv4l-dev liblapack-dev libopenblas-dev libeigen3-dev libopencv-dev

    - name: Clone visp-images
      env:
        BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      # https://remarkablemark.org/blog/2022/09/25/check-git-branch-exists-in-remote-repository/
      run: |
        git clone --depth 1 https://github.com/lagadic/visp-images ${HOME}/visp-images
        echo "VISP_INPUT_IMAGE_PATH=$HOME" >> $GITHUB_ENV
        echo ${VISP_INPUT_IMAGE_PATH}

    - name: Clone ustk-dataset
      run: |
        git clone --depth 1 https://github.com/lagadic/ustk-dataset ${HOME}/ustk-dataset
        echo "USTK_DATASET_PATH=$HOME/ustk-dataset" >> $GITHUB_ENV
        echo ${USTK_DATASET_PATH}

    - name: Clone ustk
      run: |
        git clone --depth 1 https://github.com/lagadic/ustk ${HOME}/ustk

    - name: Clone ustk-sample
      run: |
        git clone --depth 1 https://github.com/lagadic/ustk-sample ${HOME}/ustk-sample

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/tmp/usr/local -DVISP_CONTRIB_MODULES_PATH=${HOME}/ustk/modules
        cat ViSP-third-party.txt

    - name: Compile
      working-directory: build
      run: |
        make -j$(nproc) install

    - name: Run unit tests
      working-directory: build
      run: ctest -j$(nproc) --output-on-failure

    - name: ViSP + UsTK as 3rdparty with cmake
      run: |
        cd ${HOME}/ustk-sample
        mkdir ustk-sample-build
        cd ustk-sample-build
        cmake .. -DVISP_DIR=/tmp/usr/local/lib/cmake/visp
        make -j$(nproc)
