name: Ubuntu-valgrind

on: [push, pull_request]

jobs:
  build-ubuntu-valgrind:
    runs-on: ubuntu-latest

    steps:
    # https://github.com/marketplace/actions/cancel-workflow-action
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.5.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Print system information
      run: lscpu

    - name: Print OS information
      run: lsb_release -a

    - name: Install dependencies
      run: sudo apt-get install -y libx11-dev libdc1394-22-dev libv4l-dev liblapack-dev libopenblas-dev libeigen3-dev libopencv-dev valgrind

    - name: Clone ViSP-images
      run: |
        git clone --depth 1 https://github.com/lagadic/ViSP-images ${HOME}/ViSP-images
        echo "VISP_INPUT_IMAGE_PATH=$HOME" >> $GITHUB_ENV
        echo ${VISP_INPUT_IMAGE_PATH}

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Debug
        cat ViSP-third-party.txt

    - name: Compile
      working-directory: build
      run: make -j2

    - name: Run unit tests with Valgrind
      working-directory: build
      run: ctest -T memcheck
